{% extends 'base.html' %}

{% block content %}
<h2 class="text-center">Ваш профиль</h2>
<form method="post" class="w-50 mx-auto">
{% if user.photo %}
    <img src="{{ url_for('static', filename=user.photo) }}" alt="Profile Picture" class="img-thumbnail mb-3">
{% else %}
    <p>Фотография не загружена</p>
{% endif %}

<div class="mb-3">
    <label for="photo" class="form-label">Обновить фото профиля</label>
    <input type="file" class="form-control" id="photo" name="photo">
</div>

    <div class="mb-3">
        <label for="username" class="form-label">Имя пользователя</label>
        <input type="text" class="form-control" id="username" value="{{ user.username }}" disabled>
    </div>
    <div class="mb-3">
        <label for="bio" class="form-label">О себе</label>
        <textarea class="form-control" id="bio" name="bio" rows="3">{{ user.bio }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
</form>
{% endblock %}
