{% extends 'base.html' %}

{% block content %}
<h2 class="text-center">Регистрация</h2>
<form method="post" class="w-50 mx-auto" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="username" class="form-label">Имя пользователя</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="mb-3">
        <label for="bio" class="form-label">О себе</label>
        <textarea class="form-control" id="bio" name="bio" rows="3"></textarea>
    </div>
    <div class="mb-3">
    <label for="photo" class="form-label">Загрузите фото профиля</label>
    <input type="file" class="form-control" id="photo" name="photo">
</div>

    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>
{% endblock %}
